.logo{
    font-size: 30px;
    font-weight: bold;
}
.logo-q{
    color:aqua;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

img{
    max-width: 100%;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

ul li a{
    text-decoration: none;
}

.common-btn{
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-flex;
    transition: background-color 0.3 ease;
    box-shadow: 0 4px 6px #276969;
}

.outline-btn{
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: aqua;
    border: 1px solid aqua;
    cursor: pointer;
    display: inline-flex;
    transition: background-color 0.3 ease;
    box-shadow: 0 4px 6px #276969;
}

.hero-parent-root{
        background-color: #d3f1f1;
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.container2{
    max-width: 1200px;
    margin: auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    fontfamily: "Open Sans", sans-serif;
    color: #333;
    
}
.hero-left h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 12px;
}
.hero-left-p1{
    font-size: 28px;
    font-weight: semi-bold;
}
.hero-left-btn-parent{
    margin-top: 12px;
}

.about-parent{
    background-color: #d3f1f1;
    margin: 70px auto;
    border-radius: 10px;
    padding: 75px;
    text-align: center;
}
.about-parent p{
    margin: 20px 0;
}
.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.about-box-parent .box{
    background-color: #89e4e4;
    padding: 5px;
    border-radius: 5px;
}
/* what-i-do-parent */
.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
}

.what-i-do-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 8px;

}
.what-i-do-card-container .what-i-do-card{
    border: 2px solid #89e4e4;
    padding: 8px;
    border-radius: 10px;
    text-align: left;
}
.what-i-do-card-container .what-i-do-card p{
    color: #757575;
    font-size: 15px;
}
.what-i-do-card-container .what-i-do-card h2{
    margin: 10px 0;
}
/* main section */
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #333;
}
/* 2 coulms side by side */
.resume-columns{
    display: flex;
    justify-content: space-between;
    gap: 50px; /*2 columns gap*/
}
/*coulmn width*/
.resume-column{
    flex: 1;
}
/* coulmn headings */
.column-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}
/* card item box */
.resume-item{
    margin-bottom: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d3f1f1;/* item er niche dag */
}
/* job degree title */
.resume-item h3{
    font-size: 20px;
    font-weight: bold;
    margin:auto 10px 0;
    color: #333;
}
/* Download button */
.download-btn {
    text-align: center;
    margin-top: 50px;
}
/* my amazing work */
.my-amazing-parent{
    text-align: center;

}
.gallary{
    margin: 20px;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas:
        "one two three"
        "four two six"
        "four five six";
}
.gallary img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.box1{
    grid-area: one;
}
.box2{
    grid-area: two;
}
.box3{
    grid-area: three;
}
.box4{
    grid-area: four;
}
.box5{
    grid-area: five;
}
.box6{
    grid-area: six;
}

/* footer */
footer{
    text-align: center;
    margin-top: 70px !important;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: #d3f1f1;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
footer form{
    padding: 20px;
}
.footer-left p{
    margin: 10px 0;
}
footer form input, footer form textarea{
    border: none;
    outline: none;
    background-color: white;
    padding: 8px 15px;
    border-radius: 8px;
    display:block;
    width: 100%;
    margin-bottom: 8px;
}