.logo{
    font-size: 30px;
    font-weight: bold;
}
.logo-q{
    color:aqua;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

img{
    max-width: 100%;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

ul li a{
    text-decoration: none;
}

.common-btn{
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

.outline-btn{
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: aqua;
    border: 1px solid aqua;
    cursor: pointer;
}

.hero-parent-root{
        background-color: #d3f1f1;
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.hero-left h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 12px;
}
.hero-left-p1{
    font-size: 28px;
    font-weight: semi-bold;
}
.hero-left-btn-parent{
    margin-top: 12px;
}

.about-parent{
    background-color: #d3f1f1;
    margin: 70px auto;
    border-radius: 10px;
    padding: 75px;
    text-align: center;
}
.about-parent p{
    margin: 20px 0;
}
.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.about-box-parent .box{
    background-color: #89e4e4;
    padding: 5px;
    border-radius: 5px;
}
/* what-i-do-parent */
.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
}

.what-i-do-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 8px;

}
.what-i-do-card-container .what-i-do-card{
    border: 2px solid #89e4e4;
    padding: 8px;
    border-radius: 10px;
    text-align: left;
}
.what-i-do-card-container .what-i-do-card p{
    color: #757575;
    font-size: 15px;
}
.what-i-do-card-container .what-i-do-card h2{
    margin: 10px 0;
}
/* my amazing work */
.my-amazing-parent{
    text-align: center;

}
.galary{
    margin-top: 20px;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}